{% extends "base.html" %}
{% block title %}{{ pokemon | capfirst }}{% endblock title %}
{% block content %}
    <p>Has elegido el pokemon: <strong>{{ pokemon | capfirst }}</strong></p>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Nombre:</strong> {{ pokemon.name | capfirst }}
        </li>
        <li class="list-group-item">
            <strong>Tipo:</strong> {{ pokemon.get_type_display }}
        </li>
        <li class="list-group-item">
            <strong>Peso:</strong> {{ pokemon.weight }} Kg.
        </li>
        <li class="list-group-item">
            <strong>Altura:</strong> {{ pokemon.height }} Cm.
        </li>
        <li class="list-group-item">
            <strong>Entrenador:</strong> {{ pokemon.trainer | capfirst }}
        </li>
    </ul>
{% endblock content %}